{% load static %}
{% include "home/header.html" %}

{% block content %}

<div class="container">
 {% for question in page_obj %}
    <h1 class="text-center">{{ question.quesTitle }}</h1>
    <h2 class="text-center">{{ question.quesDescription }}</h2>
 {% endfor %}
 {% if Choices %}
 <div class="row">
     <div class="col-lg-12 text-center">
         <form id="inputForm" method="POST"> 
         <ul style="list-style: none;">
             <li>
                <input type="radio" value="{{ Choices.choice_1 }}" id="inpRadio" name="choiceselected">
                <label for = "inpRadio">{{ Choices.choice_1 }}</label>
             </li>
             <li>
                <input type="radio" value="{{ Choices.choice_2 }}" id="inpRadio" name="choiceselected">
                 <label for = "inpRadio">{{ Choices.choice_2 }}</label>
            </li>
            <li>
                <input type="radio" value="{{ Choices.choice_3 }}" id="inpRadio" name="choiceselected">
                <label for = "inpRadio">{{ Choices.choice_3 }}</label>
            </li>
            <li>
                <input type="radio" value="{{ Choices.choice_4 }}" id="inpRadio" name="choiceselected">
                <label for = "inpRadio">{{ Choices.choice_4 }}</label>
            </li>
         </ul>
         </form>       
     </div>
 </div>
 {% endif %}
 <hr>
 <div class="row">
 {% if page_obj.has_previous %}
 <div class="col-lg-4 text-center">
    <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}" onclick="hitForm()">Prev.</a>
 </div>
 {% endif %}
 <div class="col-lg-4 text-center">
 <span>
     <h4>Question {{ page_obj.number }} Of {{ page_obj.paginator.num_pages }} </h4>
 </span>
 </div>
 {% if page_obj.has_next %}
 <div class="col-lg-4 text-center">
    <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}" onclick="hitForm()">Next</a>
 </div>
 {% endif %}
 </div>
 <script>
    let correctAnswers = localStorage.getItem('correctAnswers') ?  localStorage.getItem('correctAnswers') : 0;
    function hitForm() {
        //alert("Performed...");
        //alert(correctAnswers);
        const inpList = document.getElementsByName('choiceselected');
        const inpArr = [];
        for(let i = 0; i < inpList.length ; i++){
            if(inpList[i].checked){
                //alert(inpList[i].value);
                //document.getElementById('result').innerHTML = inpList[i].value;
                //alert(inpList[i].value);
                var a = inpList[i].value;
                var b = "{{ Choices.correctChoice }}"
                alert(a);
                alert(b);
                if(a === b) {
                    let cA = parseInt(correctAnswers) + 1
                    localStorage.setItem('correctAnswers' , cA);
                }
                else{
                    //alert("Incorrect!");
                }
            }
        }
    }
    </script>
{% endblock %}

{% include "home/footer.html" %}