{% load static %}
{% include "home/header.html" %}

{% block content %}
<div class="container">
 {% for question in page_obj %}
    <h1 class="text-center">{{ question.quesTitle }}</h1>
    <h2 class="text-center">{{ question.quesDescription }}</h2>
 {% endfor %}
 {% if Choices %}
 <div class="row">
     <div class="col-lg-12 text-center">
         <ul style="list-style: none;">
             <li>
                <input type="radio" value="{{ Choices.choice_1 }}" name="choiceselected">
                <label for = "">{{ Choices.choice_1 }}</label>
             </li>
             <li>
                <input type="radio" value="{{ Choices.choice_2 }}" name="choiceselected">
                 <label for = "">{{ Choices.choice_2 }}</label>
            </li>
            <li>
                <input type="radio" value="{{ Choices.choice_3 }}" name="choiceselected">
                <label for = "">{{ Choices.choice_3 }}</label>
            </li>
            <li>
                <input type="radio" value="{{ Choices.choice_4 }}" name="choiceselected">
                <label for = "">{{ Choices.choice_4 }}</label>
            </li>
         </ul>
     </div>
 </div>
 {% endif %}
 <hr>
 <div class="row">
 {% if page_obj.has_previous %}
 <div class="col-lg-4 text-center">
    <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Prev.</a>
 </div>
 {% endif %}
 <div class="col-lg-4 text-center">
 <span>
     <h4>Question {{ page_obj.number }} Of {{ page_obj.paginator.num_pages }} </h4>
 </span>
 </div>
 {% if page_obj.has_next %}
 <div class="col-lg-4 text-center">
    <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
 </div>
 {% endif %}
 </div>
{% endblock %}

{% include "home/footer.html" %}